<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PDF Machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="core.css">
</head>
<body class="skin-black">
  <div class="row-offcanvas row-offcanvas-left">
    <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
    <aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
        <ul class="nav nav-list sidebar-menu">
          <li>
            <a href="/pdfs">
              <span class="fa fa-dashboard fa-lg"></span>
              <span class="menu-text">
                Form
              </span>
            </a>
          </li>
        </ul>
      </section>
        <!-- /.sidebar -->
    </aside>
    <aside class="right-side">
      <section class="content">
         <div class="row">
          <div class="col-xs-12">
            <%= content %>
          </div>
        </div>
      </section>
    </aside>
  </div>
</body>
</html>
